@model Ads.Models.Ad

@{
    ViewBag.Title = "showAd";
}


<div class="center-block" style="background-color:aqua; width:80%; border-radius:10px; padding:20px">
    <div style="width:45%;  height:440px; border:1px solid black">
        <a class="fancybox" rel="gallery1" href="~/Images/AdImages/@(Model.Id+@"/"+Model.Id+"0.jpg")"> <img width="100%" height="100%" src="~/Images/AdImages/@(Model.Id+@"/"+Model.Id+"0.jpg")" /></a>
    </div>
    <div style="width:65%; position:relative;margin-left:32%; margin-top:-230px;top:-200px; left:150px; ">
        <h1>@Model.Title.Trim()</h1>
        <h3>Price : @Model.Price</h3>
        <h3>Region : @Model.Region.Trim()</h3>
        <p>Details : @Model.Details.Trim()</p>

       @if (Model.UserId != null)
       {
        <h4>User: @Model.User.Name.Trim() , Phone : @Model.Phone.Trim()</h4>
         <a href="/User/userAd?Id=@Model.UserId">Click here for More Ads from this User</a>
       }
       else
       {
        <h4>User: Not Registered , Phone : @Model.Phone.Trim()</h4>
       }
        
       <h4>Ad Images</h4>
       
        <hr style="width:75%; float:left;" />
        <div >
            <table cellspacing="10" style="width:550px">
                <tr>
                    @for (int i = 1; i < ViewBag.imgscount;i++ )
                    { 
                    <td>
                        <div style="width:130px; height:100px; border:1px solid black">
                            <a class="fancybox" rel="gallery1" href="~/Images/AdImages/@(Model.Id+@"/"+Model.Id+i+".jpg")"> <img width="100%" height="100%" src="~/Images/AdImages/@(Model.Id + @"/" + Model.Id + i + ".jpg")" /></a>
                        </div>
                    </td>
                    }
                </tr>
            </table>

        </div>
        <hr style="width:75%; float:left;" />

        <p style="float:right; position:relative; margin-top:-390px;  left:-170px;">Posting Time : @Model.Time.Trim()</p>
    
    </div>

</div> 